# ---------- Outputs ----------
**/outputs/
*.mp4
*.json

# ---------- Python cache ----------
**/__pycache__/
*.py[cod]
*.pyc.*

# ---------- Virtual environments ----------
venv/
.env/

# ---------- Tool caches ----------
.mypy_cache/
.pytest_cache/

# ---------- Logs ---------- 
*.task 

 # ---------- Models ---------- 
*.pt
*.pth